<!doctype html>
<html>
    <head>
    <title></title>
    <meta name="viewport" content="width=device-width, 
                                     initial-scale=1,
                                     maximum-scale=1,
                                     user-scalable=no">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/bootstrap.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/fonts/fonts.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//style.css">
    </head>
    <body>
    
    


<div class="container">
    <div class="fragments-content col-md-4 card">

<h1 id="private-lessons-pages-private-lessons:b9c4293b2b6bc6918eba9e411727943c"><a href="/pages/private-lessons">Private Lessons</a></h1>
</div>
</div>

<script src="http://kaneeastertennis.github.io//js/jquery-2.2.1.min.js"></script>
<script src="http://kaneeastertennis.github.io//js/bootstrap.min.js"></script>
</body>
</html>

