body {
    font-family: "ETBembo";
    font-size: 14pt;
    margin: 0;
    padding: 0;
}

.section-graphics {
    height: 400px;
    background-size: cover;
    background-position: 50% 50%;
}

.banner {
    background: #333;
    color: #fff;
    padding: 20px;
}
.banner h1 {
    font-size: 300%;
    text-align: center;
    margin: 0;
}
.banner h2 {
    font-size: 200%;
    text-align: center;
    margin: 0;
    padding-top: 10px
}
.banner h2.email {
    font-family: "Roboto";
    font-size: 150%;
    text-align: right;
}
.banner h2.email a {
    color: #fff;
    text-decoration: underline;
    text-shadow: 0px 0px  6px white;
}

.cell {
    padding: 20px;
}
.cell h1 {
    color: #888;
}

img.embedded {
    max-width: 150px;
    float: left;
    margin: 5px 20px 0px 0;
}

a.link .glyphicon { 
    vertical-align: middle; 
    font-size: 70%;
}





h1 {
    font-family: Roboto;
    font-weight: 300;
}

hr {
    border-color: #888;
}

table {
    width: 100%;
    font-family: Roboto;
}
table td {
    border: 1px solid #aaa;
    border-collapse: collapse;
    padding: 10px;
}

table th {
    background: #eee;
    border: 1px solid #aaa;
    border-collapse: collapse;
    padding: 10px;
}
