body {
    font-family: "ETBembo";
    font-size: 14pt;
    margin: 0;
    padding: 0;
}

.section-graphics {
    height: 400px;
    background-size: cover;
    background-position: 50% 50%;
}

.banner {
    background: #333;
    color: #fff;
    padding: 20px;
}
.banner h1 {
    font-size: 300%;
    text-align: center;
    margin: 0;
}
.banner h2 {
    font-size: 200%;
    text-align: center;
    margin: 0;
    padding-top: 10px
}
.banner h2.email {
    font-family: "Roboto";
    font-size: 150%;
    text-align: right;
}
.banner h2.email a {
    color: #fff;
    text-decoration: underline;
}

img.embedded {
    max-width: 150px;
    float: left;
    margin: 5px 20px 0px 0;
}

h1,h2 {
    font-family: Roboto;
    font-weight: 300;
}

p:last-child {
    margin: 0;
}

hr {
    border-color: #888;
}

table {
    width: 100%;
    font-family: Roboto;
    font-size: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
}
table td {
    border: 1px solid #aaa;
    border-collapse: collapse;
    padding: 10px;
}

table th {
    background: #eee;
    border: 1px solid #aaa;
    border-collapse: collapse;
    padding: 10px;
}

/* ============= Cards ========== */

@media(min-width : 992px) {
    .card {
        height: 280px;
    }
}

.card > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    opacity: 0.8;
}
.card:hover > div {
    opacity: 1.0;
    background: #ddd;
}

.card ul {
    margin: 0;
    padding: 0px;
    list-style: none;
}
.card ul li {
    padding: 8px;
}
@media(min-width: 992px) {
    .card ul {
        text-align: center;
    }
    .card ul li {
        display: inline-block;
        max-width: 30%;
    }
}

/* ============ Payment ========== */
.payment {
    border: thin solid #aaf;
    padding: 20px
}
@media(min-width: 992px) {
    .payment {
    }
}

/* =========== PDF ============== */
div.pdf {
    position: relative;
    width: 100%;
    text-align: center;
}
div.pdf > a {
    display: inline-block;
    font-size: 80%;
    position: absolute;
    top: 0;
    left: 0;
}
div.pdf > canvas {
    display: inline-block;
}
