<!doctype html>
<html>
    <head>
    <title></title>
    <meta name="viewport" content="width=device-width, 
                                     initial-scale=1,
                                     maximum-scale=1,
                                     user-scalable=no">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/bootstrap.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/fonts/fonts.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//style.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
    
    

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Kane Easter Tennis</a>
    </div>

    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Go back</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
    <div class="fragments-content "><div class="section">

    <div class="banner" style="background:#629269">
        <h1 style="padding: 40px"> Kane Easter Tennis </h1>
        <h2> Oshawa, Ontario, 905-767-2612 </h2>
        <h2 class="email"> 
            <a href="mailto:kaneeastertennis@gmail.com">kaneeastertennis@gmail.com </a>
        </h2>
    </div>

    <div class="section-graphics" 
        style="background-image:url('/images/frontpage.section.png')"></div>

    <div style="background:Salmon;
                 font-size:24pt;
                 padding: 30px;">
        <p>
        Due to the COVID-19 situation, the Oshawa Tennis Club has suspended all clinics and summer camps
        until the further notice. <br><br>
        <i>We offer <a href="/pages/private-lessons">one-on-one lessons</a> with safety measures in place.</i>
        </p>
    </div>
</div>
</div>
</div>

<div style="width: 100%;
            font-family: Roboto;
            font-weight: 300;
            padding: 10px 10px 10px 0;">
    <p style="text-align: right">Kane Easter,
       <span
           style="font-size:100%;color:#999;font-weight:bold">
           @kaneeastertennis@gmail.com
       </span>, Copyright 2017 &copy;</p>
</div>
<script src="/js/jquery-2.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>


<script>

if($(".navbar-fixed-top").size() > 0) {
    $("body").css("margin-top", 50);
}
</script>
</body>
</html>

