<!doctype html>
<html>
    <head>
    <title></title>
    <meta name="viewport" content="width=device-width, 
                                     initial-scale=1,
                                     maximum-scale=1,
                                     user-scalable=no">
    <link rel="stylesheet" href="http://kaneeastertennis.com//css/bootstrap.css">
    <link rel="stylesheet" href="http://kaneeastertennis.com//css/fonts/fonts.css">
    <link rel="stylesheet" href="http://kaneeastertennis.com//style.css">
    </head>
    <body>
    
    


<div class="container">
    <div class="fragments-content "><div class="section">

    <div class="banner" style="background:#629269">
        <h1 style="padding: 40px">
            Kane Easter Tennis
        </h1>
        <h2> Oshawa, Ontario, 905-123-4567 </h2>
        <h2 class="email"> 
            <a href="mailto:xxx">info@kaneeastertennis.com </a>
        </h2>
    </div>

    <div class="section-graphics" 
        style="background-image:url('/images/frontpage.section.png')"></div>
</div>
</div>
</div>

<script src="http://kaneeastertennis.com//js/jquery-2.2.1.min.js"></script>
<script src="http://kaneeastertennis.com//js/bootstrap.min.js"></script>
</body>
</html>

