<!doctype html>
<html>
    <head>
    <title></title>
    <meta name="viewport" content="width=device-width, 
                                     initial-scale=1,
                                     maximum-scale=1,
                                     user-scalable=no">
    <link rel="stylesheet" href="https://kaneeastertennis.github.io//css/bootstrap.css">
    <link rel="stylesheet" href="https://kaneeastertennis.github.io//css/fonts/fonts.css">
    <link rel="stylesheet" href="https://kaneeastertennis.github.io//style.css">
    <link rel="stylesheet" href="https://kaneeastertennis.github.io//css/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
    
    

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Kane Easter Tennis</a>
    </div>

    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Go back</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
    <div class="fragments-content ">

<h1 id="oshawa-tennis-club-i-class-fa-fa-bullhorn-i">Oshawa Tennis Club <i class="fa fa-bullhorn"></i></h1>

<p><br></p>

<p><img class="embedded" src="/images/otc.png"></img>
Thank you to everyone who came out this summer to play at Mary St., the
Brookside courts, and other locations.
OTC has obtained the use of one court at the Oshawa Civic Dome for club play
from
October 1st 2017 to March 31st 2018.
<i class="fa fa-thumbs-o-up"></i></p>

<p><br></p>

<p>Please make sure that you purchase the OTC membership and get a membership card
from Kane. Please be prepared to show this card anytime you are playing at the
Dome.</p>

<p><br></p>

<p>The OTC executive continues to pursue opportunities for finding a permanent
home.
Until then, we continue to operate as a seasonal club, with summer operations
primarily at the Mary St. courts, and winter operations at the Oshawa Civic
Dome.</p>
</div>
</div>

<div style="width: 100%;
            font-family: Roboto;
            font-weight: 300;
            padding: 10px 10px 10px 0;">
    <p style="text-align: right">Kane Easter,
       <span
           style="font-size:100%;color:#999;font-weight:bold">
           @kaneeastertennis@gmail.com
       </span>, Copyright 2017 &copy;</p>
</div>
<script src="/js/jquery-2.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>


<script>

if($(".navbar-fixed-top").size() > 0) {
    $("body").css("margin-top", 50);
}
</script>
</body>
</html>

