<!doctype html>
<html>
    <head>
    <title></title>
    <meta name="viewport" content="width=device-width, 
                                     initial-scale=1,
                                     maximum-scale=1,
                                     user-scalable=no">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/bootstrap.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/fonts/fonts.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//style.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
    
    

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Kane Easter Tennis</a>
    </div>

    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Go back</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
    <div class="fragments-content col-md-6 card">

<h1 id="summer-camps-pages-camps:b608fc042028e15347dc7f4e64ca33eb"><a href="/pages/camps/">Summer Camps</a></h1>
</div>
</div>

<div style="width: 100%;
            text-align: right;
            font-family: Roboto;
            font-weight: 300;
            padding: 10px 10px 10px 0;">
    <p>Kane Easter, Copyright 2016 &copy;</p>
</div>
<script src="/js/jquery-2.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>


<script>

if($(".navbar-fixed-top").size() > 0) {
    $("body").css("margin-top", 50);
}
</script>
</body>
</html>

