<!doctype html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, 
                                     initial-scale=1,
                                     maximum-scale=1,
                                     user-scalable=no">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts/fonts.css">
    <link rel="stylesheet" href="/style.css">
    </head>
    <body>
    
    


<div class="container">
    <div><h1>
    <a class="link" href="/pages/leagues/">
        Camps
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</h1>

<blockquote>
<p>We offer summer tennis camps for kids from 5 to 16 (co-ed).
We provide several options.</p>

<ul>
<li>Morning 9:30am - 12:00 noon</li>
<li>Afternoon  1:00pm - 3:30pm</li>
<li>Full day 9:30am - 3:30pm</li>
</ul>
</blockquote>
</div>
</div>

<script src="/js/jquery-2.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>

