<!doctype html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, 
                                     initial-scale=1,
                                     maximum-scale=1,
                                     user-scalable=no">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts/fonts.css">
    <link rel="stylesheet" href="/style.css">
    </head>
    <body>
    
    


<div class="container">
    <div><h1>Location</h1>
<div style="padding-top: 20px">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2873.491789221723!2d-78.87045886886062!3d43.92849479519322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sca!4v1456986366444" width="400" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>
</div>

<script src="/js/jquery-2.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>

