<!doctype html>
<html>
    <head>
    <title></title>
    <meta name="viewport" content="width=device-width, 
                                     initial-scale=1,
                                     maximum-scale=1,
                                     user-scalable=no">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/bootstrap.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/fonts/fonts.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//style.css">
    </head>
    <body>
    
    


<div class="container">
    <div class="fragments-content col-md-12 announcement">

<h1 id="announcement:dde0a44d86506453e3311e8949736bc4">Announcement</h1>

<ul>
<li><em>August 1</em> :
Adult Clinic is almost full.</li>
<li><em>August 1</em> :
Adult Clinic is almost full.</li>
</ul>

<style>
.announcement ul {
}
.announcement li {
  margin-bottom: 15px;
}
.announcement li em {
    font-family: "Roboto";
    font-style: normal;
    font-size: 85%;
    background: #888;
    color: white;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
    display: inline-block;
}
</style>
</div>
</div>

<script src="http://kaneeastertennis.github.io//js/jquery-2.2.1.min.js"></script>
<script src="http://kaneeastertennis.github.io//js/bootstrap.min.js"></script>
</body>
</html>

