<!doctype html>
<html>
    <head>
    <meta name="viewport" content="width=device-width, 
                                     initial-scale=1,
                                     maximum-scale=1,
                                     user-scalable=no">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts/fonts.css">
    <link rel="stylesheet" href="/style.css">
    </head>
    <body>
    
    


<div class="container">
    <div><h1>
    <a class="link" href="/pages/leagues/">
        Leagues
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</h1>

<blockquote>
<p>House Leagues</p>
</blockquote>
</div>
</div>

<script src="/js/jquery-2.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>

