<!doctype html>
<html>
    <head>
    <title></title>
    <meta name="viewport" content="width=device-width, 
                                     initial-scale=1,
                                     maximum-scale=1,
                                     user-scalable=no">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/bootstrap.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/fonts/fonts.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//style.css">
    </head>
    <body>
    
    


<div class="container">
    <div class="fragments-content col-md-4">

<h1 id="contact:3c4864f00d23f7ea35511ec930ce1d9c">Contact</h1>

<ul>
<li>kaneeastertennis.com</li>
<li>905-123-4567</li>
</ul>
</div>
</div>

<script src="http://kaneeastertennis.github.io//js/jquery-2.2.1.min.js"></script>
<script src="http://kaneeastertennis.github.io//js/bootstrap.min.js"></script>
</body>
</html>

