<!doctype html>
<html>
    <head>
    <title></title>
    <meta name="viewport" content="width=device-width, 
                                     initial-scale=1,
                                     maximum-scale=1,
                                     user-scalable=no">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/bootstrap.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/fonts/fonts.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//style.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
    
    


<div class="container">
    <div class="fragments-content col-md-8">

<h1 id="about-andrei:6083a88ee3411b0d17ce02d738f69d47">About Andrei</h1>

<p><img class="embedded" src="/images/agassi-cover.jpg"></img>
Andre Kirk Agassi (/ˈɑːndreɪ ˈæɡəsi/; born April 29, 1970) is an American
retired professional tennis player and former World No. 1, who was one of the
game&rsquo;s most dominant players from the early 1990s to the mid-2000s. Generally
considered by critics and fellow players to be one of the greatest tennis
players of all time, Agassi had been called the greatest service
returner in the history of the game. Described by the BBC upon his
retirement as &ldquo;perhaps the biggest worldwide star in the sport&rsquo;s history&rdquo;,
Agassi compiled performances that, along with his unorthodox apparel and
attitude, saw him cited as one of the most charismatic players in the history of
the game. As a result, he is credited for helping to revive the popularity of
tennis during the 1990s.</p>

<h1 id="contact:6083a88ee3411b0d17ce02d738f69d47">Contact</h1>

<blockquote>
<p>Kane Easter <br>
905-123-4567 <br>
kaneeastertennis@gmail.com <br></p>
</blockquote>
</div>
</div>

<script src="/js/jquery-2.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>

