<!doctype html>
<html>
    <head>
    <title></title>
    <meta name="viewport" content="width=device-width, 
                                     initial-scale=1,
                                     maximum-scale=1,
                                     user-scalable=no">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/bootstrap.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/fonts/fonts.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//style.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
    
    

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Kane Easter Tennis</a>
    </div>

    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Go back</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container">
    <div class="fragments-content col-md-8 about">

<h1 id="about-kane-easter:6083a88ee3411b0d17ce02d738f69d47">About Kane Easter</h1>

<p><img class="embedded" src="/images/kaneeaster-sm.png"></img>
I was born and raised on the small island of St.Lucia in the Caribbean. I
started playing tennis at the age of 5, my father is also a tennis professional,
and grew up in what is currently the Sandals Regency La Toc Resort in St.Lucia.
My Dad was the hotel tennis pro and we lived in one of the villas for 10 years.
As I improved, I travelled far and wide to play tournaments. At 15, I left
St.Lucia for good to train at the prestigious Saddlebrook Academy in Florida,
training ground for Pete Sampras (former #1 in the world) and Jennifer Capriati
(former #1 in the world), for my last 2 years of high school. From there I
received a tennis scholarship to the University of Louisville where I received a
Bachelors in Chemical Engineering. After travelling for a year, I made my final
stop in Whitby, Ontario in 2001 where I still call home today.
I am now the current Head Pro of the <a href="http://www.oshawatennisclub.com/">Oshawa Tennis
Club</a> and a certified Club Pro
1 with Tennis Canada.</p>

<p>Personally I am now a husband and father of 3 children, 6, 5 and 3, who are all
starting to participate in the sport I love, which has been my life from the age
of 5. Through tennis I have travelled to many countries and islands, and I wish
that opportunity on any junior, or senior, who picks up a racquet to learn the
game. I consider myself truly lucky having this sport in my life.</p>

<p>Enjoy the game!</p>

<h1 id="contact:6083a88ee3411b0d17ce02d738f69d47">Contact</h1>

<blockquote>
<p>Kane Easter <br>
905-767-2612 <br>
PO Box 30075 Brooklin Towne Centre, Whitby, ON, L1M 0B5 <br>
kaneeastertennis@gmail.com <br></p>
</blockquote>

<style>
.about p {
text-align: justify;
}
</style>
</div>
</div>

<div style="width: 100%;
            text-align: right;
            font-family: Roboto;
            font-weight: 300;
            padding: 10px 10px 10px 0;">
    <p>Kane Easter,
       <span
           style="font-size:100%;color:#999;font-weight:bold">
           @kaneeastertennis@gmail.com
       </span>, Copyright 2016 &copy;</p>
</div>
<script src="/js/jquery-2.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>


<script>

if($(".navbar-fixed-top").size() > 0) {
    $("body").css("margin-top", 50);
}
</script>
</body>
</html>

