<!doctype html>
<html>
    <head>
    <title></title>
    <meta name="viewport" content="width=device-width, 
                                     initial-scale=1,
                                     maximum-scale=1,
                                     user-scalable=no">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/bootstrap.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/fonts/fonts.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//style.css">
    </head>
    <body>
    
    


<div class="container">
    <div class="fragments-content col-md-4 card">

<h1 id="programs-pages-programs:a9ecf96579d42e2d95f7c08aea480d4f"><a href="/pages/programs/">Programs</a></h1>

<p>We offer a variety of tennis programs.</p>

<ul>
<li><a href="/pages/junior-clinics/">Junior clinics</a></li>
<li><a href="/pages/adult-clinics/">Adult clinics</a></li>
<li><a href="/pages/tennis-aerobics">Tennis Aerobics</a></li>
</ul>
</div>
</div>

<script src="http://kaneeastertennis.github.io//js/jquery-2.2.1.min.js"></script>
<script src="http://kaneeastertennis.github.io//js/bootstrap.min.js"></script>
</body>
</html>

