<!doctype html>
<html>
    <head>
    <title></title>
    <meta name="viewport" content="width=device-width, 
                                     initial-scale=1,
                                     maximum-scale=1,
                                     user-scalable=no">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/bootstrap.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/fonts/fonts.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//style.css">
    <link rel="stylesheet" href="http://kaneeastertennis.github.io//css/font-awesome/css/font-awesome.min.css">
    </head>
    <body>
    
    


<div class="container">
    <div class="fragments-content col-md-4"><h1>News</h1>

<a 
    class="twitter-timeline" 
    href="https://twitter.com/kenpu" 
    data-widget-id="709921578608250880"
    height="600">Tweets by @kenpu</a>
<script>!function(d,s,id){var
js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
</div>

<script src="/js/jquery-2.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>
</html>

